#footer {
  background: #3D52E1;
  padding: 40px 0 0;
}
@media only screen and (min-width: 1020px) {
  #footer {
    padding: 30px 0 41px;
  }
}

.logo_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 30px;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 640px) {
  .logo_block {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: unset;
  }
}
@media only screen and (min-width: 1020px) {
  .logo_block {
    margin: 0 0 10px;
  }
}
@media only screen and (min-width: 640px) {
  .logo_block .logo_box {
    padding: 0;
    padding-right: 10px;
    margin: 0 0 20px;
  }
}
.logo_block .logo {
  display: block;
  background: url("../new_img/logo_wt.svg") no-repeat;
  background-size: 100%;
  width: 122px;
  height: 63px;
}
@media only screen and (min-width: 1020px) {
  .logo_block .logo {
    width: 104px;
    height: 55px;
  }
}
.logo_block .foot_txt_nav .foot_txt {
  color: #FCFCFC;
  width: 55.5%;
  padding-left: 10px;
  line-height: 1.3;
  font-weight: 400;
  font-size: 12px;
  margin: 0 0 20px;
  display: none;
}
@media only screen and (min-width: 767px) {
  .logo_block .foot_txt_nav .foot_txt {
    padding: 0;
    width: 100%;
    font-size: 13px;
    display: inline-block;
    margin: 3px 0 18px;
  }
}
.logo_block .foot_txt_nav .foot_nav {
  margin-top: 30px;
}
@media only screen and (min-width: 640px) {
  .logo_block .foot_txt_nav .foot_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: unset;
  }
}
@media only screen and (min-width: 1020px) {
  .logo_block .foot_txt_nav .foot_nav {
    margin-left: auto;
  }
}
.logo_block .foot_txt_nav .foot_nav ul {
  margin: 0 0 16px;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  .logo_block .foot_txt_nav .foot_nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    margin: 0 0 35px;
  }
}
@media only screen and (min-width: 1020px) {
  .logo_block .foot_txt_nav .foot_nav ul {
    margin: 0;
  }
}
.logo_block .foot_txt_nav .foot_nav ul li {
  margin: 0 20px 0 0;
}
.logo_block .foot_txt_nav .foot_nav ul li a {
  line-height: 24px;
}
@media only screen and (min-width: 640px) {
  .logo_block .foot_txt_nav .foot_nav ul li {
    margin: 0 18px 0 0;
  }
}
@media only screen and (min-width: 1020px) {
  .logo_block .foot_txt_nav .foot_nav ul li {
    margin-right: 16px;
  }
}
.logo_block .foot_txt_nav .foot_nav ul a {
  display: block;
  font-weight: 500;
  color: #FCFCFC;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
}
@media only screen and (min-width: 1020px) {
  .logo_block .foot_txt_nav .foot_nav ul a {
    font-size: 14px;
  }
}
.logo_block .foot_txt_nav .foot_nav ul a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1020px) {
  .copy_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
.copy_box .copy {
  margin: 0 -20px;
  padding: 6px 20px 9px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.257;
  font-size: 12px;
  font-weight: 500;
  color: #fcfcfc;
}
@media only screen and (min-width: 1020px) {
  .copy_box .copy {
    padding: 0;
    display: block;
    background: none;
    color: #FCFCFC;
    order: 1;
    font-size: 14px;
    margin: 0 12px 0 0;
  }
}

.nw_footer .container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media only screen and (min-width: 1020px) {
  .nw_footer .container {
    padding: 0 32px;
    max-width: 1480px;
  }
}
.nw_footer .logo_block {
  border-bottom: 1px solid #5167FB;
  padding-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  margin: 0 0 16px;
}
@media only screen and (min-width: 1020px) {
  .nw_footer .logo_block {
    margin: 0 0 20px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .logo_block {
    padding-top: 6px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .logo_block .logo {
    width: 130px;
    height: 68px;
  }
}
.nw_footer .logo_block .logo_box {
  width: 44.5%;
  padding-right: 10px;
  margin: 0 0 49px;
}
@media only screen and (min-width: 1020px) {
  .nw_footer .logo_block .logo_box {
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .logo_block .logo_box {
    margin: 0 0 16px;
  }
}
.nw_footer .logo_block .foot_txt {
  color: #FCFCFC;
  width: 55.5%;
  padding-left: 10px;
  line-height: 1.3;
  font-weight: 400;
  font-size: 12px;
  margin: 0 0 49px;
  display: block;
}
@media only screen and (min-width: 1020px) {
  .nw_footer .logo_block .foot_txt {
    padding: 0;
    width: 100%;
    font-size: 13px;
    max-width: 376px;
    margin: 0 0 20px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .logo_block .foot_txt {
    max-width: 465px;
    color: #fff;
    font-size: 16px;
    margin: 0 0 20px;
  }
}
@media only screen and (min-width: 640px) {
  .nw_footer .foot_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav {
    width: calc(100% - 376px);
    justify-content: end;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .foot_nav {
    width: calc(100% - 465px);
  }
}
.nw_footer .foot_nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 46px;
}
@media only screen and (min-width: 640px) {
  .nw_footer .foot_nav ul {
    margin: 0 0 15px;
  }
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav ul {
    margin: 0;
  }
}
.nw_footer .foot_nav ul li {
  margin: 0 16px 0 0;
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav ul li {
    margin-right: 14px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .foot_nav ul li {
    margin: 0 15px 0 0;
  }
}
@media only screen and (min-width: 1439px) {
  .nw_footer .foot_nav ul li {
    margin: 0 36px 0 0;
  }
}
.nw_footer .foot_nav ul a {
  display: block;
  font-weight: 500;
  color: #FCFCFC;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav ul a {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .foot_nav ul a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1439px) {
  .nw_footer .foot_nav ul a {
    font-size: 18px;
  }
}
.nw_footer .foot_nav ul a:hover {
  text-decoration: underline;
}
.nw_footer .foot_nav ul.term_nav {
  margin: 0 0 16px;
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav ul.term_nav {
    margin: 0;
  }
}
.nw_footer .foot_nav ul.term_nav li {
  margin-right: 18px;
}
@media only screen and (min-width: 640px) {
  .nw_footer .foot_nav ul.term_nav li {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav ul.term_nav li {
    margin-right: 14px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .foot_nav ul.term_nav li {
    margin: 0 15px 0 0;
  }
}
@media only screen and (min-width: 1439px) {
  .nw_footer .foot_nav ul.term_nav li {
    margin: 0 37px 0 0;
  }
}
@media only screen and (min-width: 640px) {
  .nw_footer .foot_nav ul.term_nav li.email {
    order: 3;
    margin-right: 0;
  }
}
.nw_footer .foot_nav ul.term_nav li.email a {
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav ul.term_nav li.email a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .foot_nav ul.term_nav li.email a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1439px) {
  .nw_footer .foot_nav ul.term_nav li.email a {
    font-size: 20px;
  }
}
.nw_footer .foot_nav ul.term_nav li.email a:hover {
  text-decoration: none;
}
.nw_footer .foot_nav ul.term_nav li:last-child {
  margin: 0;
}
@media only screen and (min-width: 640px) {
  .nw_footer .foot_nav ul.term_nav li:last-child {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav ul.term_nav li:last-child {
    margin-right: 14px;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .foot_nav ul.term_nav li:last-child {
    margin: 0 18px 0 0;
  }
}
@media only screen and (min-width: 1439px) {
  .nw_footer .foot_nav ul.term_nav li:last-child {
    margin: 0 43px 0 0;
  }
}
@media only screen and (min-width: 1020px) {
  .nw_footer .foot_nav ul.term_nav li:first-child {
    margin-right: 0;
  }
}
.nw_footer .foot_nav ul.term_nav a {
  font-size: 14px;
}
@media only screen and (min-width: 1199px) {
  .nw_footer .foot_nav ul.term_nav a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1439px) {
  .nw_footer .foot_nav ul.term_nav a {
    font-size: 18px;
  }
}
.nw_footer .copy_box {
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.nw_footer .copy_box .copy {
  order: inherit;
  padding: 0;
  display: block;
  background: none;
  color: #FCFCFC;
  font-size: 12px;
  margin: 0;
  max-width: 115px;
}
@media only screen and (min-width: 640px) {
  .nw_footer .copy_box .copy {
    max-width: none;
  }
}
@media only screen and (min-width: 1199px) {
  .nw_footer .copy_box .copy {
    font-size: 18px;
  }
}

.soc_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.soc_box .txt {
  display: block;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  font-size: 14px;
  display: none;
}
@media only screen and (min-width: 640px) {
  .soc_box .txt {
    display: block;
  }
}
@media only screen and (min-width: 1199px) {
  .soc_box .txt {
    font-size: 18px;
  }
}

.soc_list {
  display: flex;
  align-items: center;
  margin: 0;
}
.soc_list li {
  margin-left: 9px;
}
.soc_list a {
  display: block;
  width: 35px;
  height: 35px;
}
.soc_list a.fb {
  background: url("../img_for_new_footer/nf_icon-1.svg") no-repeat;
  background-size: 100%;
}
.soc_list a.twt {
  background: url("../img_for_new_footer/nf_icon-2.svg") no-repeat;
  background-size: 100%;
}
.soc_list a.thd {
  background: url("../img_for_new_footer/nf_icon-3.svg") no-repeat;
  background-size: 100%;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media only screen and (min-width: 1020px) {
  .container {
    padding: 0 32px;
    max-width: 1464px;
  }
}

.main #header {
  padding: 21px 0 20px;
}
@media only screen and (min-width: 920px) {
  .main #header {
    padding: 26px 0 25px;
  }
}
@media only screen and (min-width: 920px) {
  .main #header .logo {
    width: 97px;
    height: 50px;
  }
}
@media only screen and (min-width: 920px) {
  .main.new_promo .main_nav {
    height: 48px;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 920px) {
  .main.new_promo .main_nav a {
    font-size: 18px;
    color: #fcfcfc;
    padding: 5px 39px;
  }
}

.promo_section {
  padding: 85px 0 61px;
  background: url("../landing_img/bg_promo.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
@media only screen and (min-width: 920px) {
  .promo_section {
    padding: 101px 0 61px;
    overflow: hidden;
  }
}
.promo_section .promo_block {
  padding-top: 30px;
}
@media only screen and (min-width: 920px) {
  .promo_section .promo_block {
    padding-top: 54px;
    position: relative;
    padding-bottom: 111px;
  }
}
.promo_section .promo_text {
  text-align: center;
  margin: 0 0 31px;
}
@media only screen and (min-width: 920px) {
  .promo_section .promo_text {
    margin: 0;
  }
}
.promo_section .promo_text p {
  line-height: 1.24;
  margin: 0 auto 35px;
  max-width: 575px;
}
@media only screen and (min-width: 920px) {
  .promo_section .promo_text p {
    font-size: 22px;
    margin-bottom: 60px;
  }
}
.promo_section .promo_title {
  font-size: 28px;
  line-height: 1.1;
  text-transform: capitalize;
  margin: 0 auto 20px;
  max-width: 648px;
}
@media only screen and (min-width: 920px) {
  .promo_section .promo_title {
    font-size: 52px;
    margin-bottom: 40px;
  }
}
.promo_section .promo_title span {
  color: #3d52e1;
}
.promo_section .promo_title .flash {
  width: 20px;
  height: 38px;
  display: inline-flex;
  background: url("../landing_img/ic_flash.svg") no-repeat;
  background-size: 48px 48px;
  background-position: 50%;
  margin-bottom: -10px;
}
@media only screen and (min-width: 920px) {
  .promo_section .promo_title .flash {
    background-size: 88px 88px;
    margin-bottom: -10px;
    width: 40px;
    height: 58px;
  }
}
.promo_section .btn {
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  max-width: 410px;
  height: 50px;
  background: #3d52e1;
}
@media only screen and (min-width: 920px) {
  .promo_section .btn {
    height: 60px;
    font-size: 20px;
  }
}

.subtitle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  border-radius: 5px;
  padding: 10px 13px;
  width: 164px;
  height: 33px;
  background: #dee4fb;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.24;
  text-transform: capitalize;
  text-align: center;
  color: #3d52e1;
}
@media only screen and (min-width: 920px) {
  .subtitle {
    border-radius: 10px;
    padding: 10px 13px;
    width: 213px;
    height: 48px;
    background: rgba(61, 82, 225, 0.08);
    font-size: 20px;
  }
}

.promo_imgs {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 -20px;
  overflow: hidden;
}
@media only screen and (min-width: 640px) {
  .promo_imgs {
    margin: 0;
  }
}
@media only screen and (min-width: 920px) {
  .promo_imgs {
    display: block;
    overflow: visible;
  }
}
.promo_imgs .img_lt {
  border-radius: 10px;
  box-shadow: 0 4px 9px 0 rgba(175, 175, 175, 0.19);
  width: 183px;
  height: 136px;
  margin-left: -24px;
}
@media only screen and (min-width: 640px) {
  .promo_imgs .img_lt {
    margin: 0;
  }
}
@media only screen and (min-width: 920px) {
  .promo_imgs .img_lt {
    position: absolute;
    left: 50%;
    top: 63px;
    margin-left: 471px;
    margin-left: 350px;
  }
}
@media only screen and (min-width: 1199px) {
  .promo_imgs .img_lt {
    margin-left: 471px;
  }
}
.promo_imgs .img_rt {
  border-radius: 10px;
  width: 281px;
  height: 225px;
  box-shadow: 0 4px 9px 0 rgba(175, 175, 175, 0.19);
  margin-right: -94px;
  margin-top: 20px;
}
@media only screen and (min-width: 640px) {
  .promo_imgs .img_rt {
    margin: 0;
  }
}
@media only screen and (min-width: 920px) {
  .promo_imgs .img_rt {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -577px;
    margin-top: 3px;
  }
}
@media only screen and (min-width: 1199px) {
  .promo_imgs .img_rt {
    margin-left: -717px;
  }
}
.promo_imgs img {
  display: block;
}

.section {
  padding: 60px 0 28px;
}
@media only screen and (min-width: 920px) {
  .section {
    padding: 98px 0 63px;
  }
}
.section .txt_box {
  text-align: center;
  margin: 0 0 25px;
}
@media only screen and (min-width: 920px) {
  .section .txt_box {
    margin: 0 0 50px;
  }
}
@media only screen and (min-width: 920px) {
  .section .txt_box .subtitle {
    margin: 0 0 24px;
  }
}
.section .title_section {
  margin: 0 0 15px;
  font-size: 28px;
  line-height: 1;
}
@media only screen and (min-width: 920px) {
  .section .title_section {
    font-size: 42px;
    margin: 0 0 13px;
  }
}
.section .txt_section {
  margin: 0 0 0;
}
@media only screen and (min-width: 920px) {
  .section .txt_section {
    font-size: 20px;
  }
}
.section.reasons_section {
  background: #E9EFFD;
  margin-bottom: 60px;
  padding: 20px 0;
}
@media only screen and (min-width: 920px) {
  .section.reasons_section {
    padding: 100px 0;
    margin-bottom: 165px;
  }
}

@media only screen and (min-width: 767px) {
  .services_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.services_list .item_list {
  margin: 0 0 29px;
}
@media only screen and (min-width: 767px) {
  .services_list .item_list {
    width: calc(50% - 10px);
  }
}
@media only screen and (min-width: 920px) {
  .services_list .item_list {
    width: calc(33.3% - 10px);
    margin: 0 0 35px;
  }
}
.services_list .img_box {
  margin: 0 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../landing_img/bg_item.png") no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 151px;
  border-radius: 10px;
}
@media only screen and (min-width: 920px) {
  .services_list .img_box {
    height: 204px;
    border-radius: 15px;
    margin-bottom: 14px;
  }
}
.services_list .img_box .icon {
  display: flex;
  overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba(175, 175, 175, 0.19);
  width: 73px;
  height: 73px;
  border-radius: 10px;
}
@media only screen and (min-width: 920px) {
  .services_list .img_box .icon {
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }
}
.services_list .img_box .icon img {
  display: block;
  width: 100%;
}
.services_list .title {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 20px;
  color: #3d52e1;
  line-height: 1;
}
@media only screen and (min-width: 920px) {
  .services_list .title {
    font-size: 22px;
    margin: 0 0 9px;
  }
}
.services_list .dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
}
@media only screen and (min-width: 920px) {
  .services_list .dscr {
    font-size: 18px;
  }
}

@media only screen and (min-width: 920px) {
  .reasons_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.reasons_list .reasons_item {
  margin: 0 0 20px;
  background: #fcfcfc;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.reasons_list .reasons_item:last-child {
  flex-direction: column-reverse;
}
@media only screen and (min-width: 920px) {
  .reasons_list .reasons_item {
    width: calc(50% - 20px);
    margin: 0 0 40px;
    padding: 50px 40px;
  }
}
.reasons_list .title_section {
  font-size: 28px;
  line-height: 0.95;
  color: #3d52e1;
  font-weight: 500;
  margin: 0;
}
@media only screen and (min-width: 920px) {
  .reasons_list .title_section {
    font-size: 34px;
  }
}
.reasons_list .img_box {
  margin: 20px -9px 30px;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  .reasons_list .img_box {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 920px) {
  .reasons_list .img_box {
    margin: 23px -9px 22px;
  }
}
.reasons_list .img_box img {
  max-width: 100%;
}
.reasons_list .title {
  max-width: 223px;
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 1.1;
  color: #3d52e1;
  font-weight: 500;
}
@media only screen and (min-width: 920px) {
  .reasons_list .title {
    font-size: 28px;
    max-width: none;
    margin: 0 0 31px;
  }
}
.reasons_list .dscr {
  line-height: 1.24;
}
@media only screen and (min-width: 920px) {
  .reasons_list .dscr {
    font-size: 20px;
  }
}

.btn {
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  height: 50px;
  background: #3d52e1;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #fff;
}
@media only screen and (min-width: 920px) {
  .btn {
    height: 60px;
    font-size: 20px;
  }
}

.fancybox__backdrop {
  background: rgba(19, 19, 19, 0.19);
}

.is-close-button {
  width: 23px;
  height: 23px;
  background: url("../landing_img/ic_close.svg") no-repeat;
  background-size: 100%;
  background-position: 50%;
  display: block;
  top: 15px !important;
  right: 15px !important;
}
@media only screen and (min-width: 920px) {
  .is-close-button {
    width: 27px;
    height: 27px;
    top: 20px !important;
    right: 20px !important;
  }
}
.is-close-button svg {
  display: none;
}

.popup {
  width: 100%;
  max-width: 335px;
}
.popup#dialog-content {
  border-radius: 10px;
  background: #fcfcfc linear-gradient(359deg, #fcfcfc 0%, #e9effd 100%);
  padding: 20px;
}
@media only screen and (min-width: 920px) {
  .popup#dialog-content {
    max-width: 520px;
    padding: 29px 45px 45px;
  }
}
.popup#succes {
  background: #fcfcfc;
  border-radius: 8px;
  padding: 12px 16px;
  min-height: 82px;
  overflow: hidden;
}
@media only screen and (min-width: 920px) {
  .popup#succes {
    max-width: 385px;
  }
}
.popup#succes:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #1CBF3A;
}
.popup .is-close-button {
  top: 10px !important;
  right: 10px !important;
}
@media only screen and (min-width: 920px) {
  .popup .is-close-button {
    top: 10px !important;
    right: 10px !important;
  }
}

.form {
  text-align: center;
}
.form .img_box {
  width: 89px;
  height: 89px;
  margin: 0 auto 11px;
}
@media only screen and (min-width: 920px) {
  .form .img_box {
    width: 123px;
    height: 123px;
    margin-bottom: 16px;
  }
}
.form .img_box img {
  width: 100%;
}
.form .subtitle_popup {
  margin: 0 auto 11px;
  border-radius: 4px;
  padding: 5px 5px;
  width: 95px;
  height: 28px;
  background: #3d52e1;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
  color: #fcfcfc;
}
@media only screen and (min-width: 920px) {
  .form .subtitle_popup {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 13px;
    width: 132px;
    height: 39px;
    margin-bottom: 15px;
  }
}
.form .title_popup {
  margin: 0 0 9px;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.24;
  text-align: center;
  color: #3d52e1;
}
@media only screen and (min-width: 920px) {
  .form .title_popup {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
.form .title_popup span {
  font-weight: 500;
  font-size: 28px;
  display: block;
}
@media only screen and (min-width: 920px) {
  .form .title_popup span {
    font-size: 38px;
  }
}
.form p {
  margin: 0 0 41px;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 124%;
  text-align: center;
  color: #000;
}
@media only screen and (min-width: 920px) {
  .form p {
    font-size: 18px;
    margin: 0 auto 47px;
    max-width: 354px;
  }
}
.form .inpt_holder {
  display: flex;
  margin: 0;
}
@media only screen and (min-width: 640px) {
  .form .inpt_holder {
    flex-wrap: nowrap;
    align-items: normal;
  }
}
.form .inpt_holder .inpt_lb {
  position: relative;
  margin-right: 5px;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  flex: 1 1 auto;
}
@media only screen and (min-width: 920px) {
  .form .inpt_holder .inpt_lb {
    margin-right: 8px;
    border-radius: 8px;
  }
}
.form .inpt_holder .inpt_lb input[type=text] {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 13px;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #0d0d0d;
  background: #F8F9FC;
  border: none;
  border-radius: 5px;
}
.form .inpt_holder .inpt_lb input[type=text]:focus, .form .inpt_holder .inpt_lb input[type=text]:focus-visible, .form .inpt_holder .inpt_lb input[type=text]:focus-within {
  background: #F8F9FC;
}
@media only screen and (min-width: 920px) {
  .form .inpt_holder .inpt_lb input[type=text] {
    font-size: 16px;
    padding: 15px 18px;
    border-radius: 8px;
  }
}
.form .inpt_holder .inpt_lb .label {
  position: absolute;
  top: -7px;
  left: 10px;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #a2a2a2;
  background: #F8F9FC;
  width: 35px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin: 0;
}
@media only screen and (min-width: 640px) {
  .form .inpt_holder .inpt_lb .label {
    padding: 0;
  }
}
@media only screen and (min-width: 920px) {
  .form .inpt_holder .inpt_lb .label {
    width: 44px;
    height: 24px;
    font-size: 16px;
    top: -14px;
    left: 15px;
  }
}
.form .btn_form {
  border-radius: 5px;
  padding: 7px;
  width: 108px;
  height: 44px;
  border: none;
  background: #3d52e1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 137%;
  color: #fff;
  cursor: pointer;
}
@media only screen and (min-width: 920px) {
  .form .btn_form {
    font-size: 18px;
    width: 152px;
    height: 55px;
    border-radius: 8px;
  }
}

.succes_txt {
  position: relative;
  padding-left: 48px;
}
.succes_txt:after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url("../landing_img/ic_succes.svg") no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.succes_txt strong {
  display: block;
  margin: 0 0 0;
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #1cbf3a;
}
@media only screen and (min-width: 920px) {
  .succes_txt strong {
    font-size: 20px;
    line-height: 1.1;
    margin: 0 0 3px;
  }
}
.succes_txt p {
  font-family: "Overused Grotesk", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.01em;
  color: #0d0d0d;
  margin: 0;
}
@media only screen and (min-width: 920px) {
  .succes_txt p {
    font-size: 16px;
    line-height: 1.12;
  }
}/*# sourceMappingURL=landing_111225.css.map */