@import '_parametrs';

.error_page{
   padding-top: 6px;
}
.no_result_block{
   border-radius: 8px;
   padding: 16px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   .img_box{
      max-width: 170px;
      margin: 15px auto 14px;
      @include breakpoint($mobile-small){
         max-width: 257px;
         margin: 24px auto 9px;
      }
      img{
         width: 100%;
      }
   }
   .title_page{
      margin: 24px auto 11px;
      text-align: center;
      color: $cl-blue;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.2;
      @include breakpoint($mobile-small){
         margin-bottom: 20px;
      }
   }
   p{
      margin: 4px auto 19px;
      font-weight: 500;
      text-align: center;
   }
}
.find_box{
   margin: 2px 0 0;
   padding: 24px 16px;
   border-radius: 6px;
   text-align: center;
   .find_text{
      margin: 0 0 31px;
   }
   .find_subtitle{
      display: block;
      margin: 0 0 10px;
      font-weight: 700;
      font-size: 15px;
      line-height: 1.2;
   }
   p{
      a{
         &:hover{
            text-decoration: none;
         }
      }
   }
   .btn{
      @include breakpoint($mobile-small){
         max-width: 120px;
         margin: 0 auto;
      }
   }
}

.main-content {
    @include breakpoint($tablet) {
        min-height: calc(100% - 310px);
    }
}